{% extends 'base.html.twig' %}

{% block title %}Create New Product{% endblock %}

{% block body %}
    <div class="grid gap-4 mb-5 sm:grid-cols-2 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <div class="w-full flex justify-between items-center mb-3 mt-1">
            <p class="text-4xl font-bold text-gray-900 mb-5">Add New Product</p>
        </div>
        <div class="flex items-center justify-end">
            <a href={{ path('app_product_index') }}
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                Back to Products list
            </a>
        </div>
    </div>

    {{ include('product/_form.html.twig', {'button_label': 'Create'}) }}
{% endblock %}
